.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: theme('colors.dracula-purple.600')
    radial-gradient(
      circle,
      transparent 1%,
      theme('colors.dracula-purple.600') 1%
    )
    center/15000%;
}

.ripple:active {
  background-color: theme('colors.dracula-purple.500');
  background-size: 100%;
  transition: background 0s;
}
