NEXT_PUBLIC_URL="XXX"
NEXT_PUBLIC_GOOGLE_ANALYTICS="XXX"
NEXT_PUBLIC_FIREBASE_API_KEY="XXX"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="XXX"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="XXX"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="XXX"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="XXX"
NEXT_PUBLIC_FIREBASE_APP_ID="XXX"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="XXX"
