.toggleBg:after {
  content: '';
  @apply absolute top-0.5 left-0.5 bg-white border border-gray-300
    rounded-full transition shadow-sm
    h-4 w-4 lg:h-5 lg:w-5;
}

input:checked + .toggleBg:after {
  transform: translateX(100%);
  @apply border-white;
}

input:checked + .toggleBg {
  @apply bg-gradient-to-tr from-dracula-purple to-dracula-pink
    border-none;
}
